.alert {
  border: 0;
  border-radius: 20px !important;
  color: #ffffff;
  padding: 20px 10px 15px 10px;
  font-size: 14px;
  min-height: 80px;
  .container & {
    border-radius: 20px;
  }
  .navbar & {
    border-radius: 20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
  }
  .navbar:not(.navbar-transparent) & {
    top: 70px;
  }

  span[data-notify="icon"] {
    display: none !important;
  }

  .close ~ span {
    display: block;
    max-width: 89%;
  }

  &[data-notify="container"] {
    width: 350px;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    max-width: 85%;
  }

  & .title {
    font-size: 18px;
  }

  &.alert-with-icon {
    padding-left: 25px !important;
  }

  &.alert-info {
    background-color: #3f51b5 !important;
    color: #fff !important;
  }

  &.alert-success {
    background-color: #00695c !important;
    color: #fff !important;
  }

  &.alert-warning {
    background-color: #ef6c00 !important;
    color: #fff !important;
  }

  &.alert-danger {
    background-color: #ef5350 !important;
    color: #fff !important;
  }
}

.loading-screen {
  z-index: 999999 !important;
}
