
.welcome {
  max-width: 400px;
  margin: auto;
}
.business {
  max-width: 1024px;
  margin: 10px auto;
  padding: 20px;
  text-align: center;

  & .quit {
    margin-top: 60px;
    font-size: 20px;
    padding: 0;
    background: transparent;
    border:none;
    border-bottom: 2px solid #000511;
  }

  & table.table {
    margin-top: 20px;
    text-align: left;
  }
 
}

