.card-info {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100vh;
    top: 0;
    margin: 0;
    right: 0;
    left: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 20;

    & .content {
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        padding: 20px 20px 150px;

        @media (max-width: 500px) {
            padding: 0 0 100px;
        }

        background-color: #fff;
        display: block;
        right: 0;
        position: absolute;
        width: 100%;
        max-width: 880px;
        min-height: 100vh;

        & .cart-header {
            margin-bottom: 20px;
            background: #fff;

            & button {
                margin: 0 !important;
            }

            // position: fixed;

            z-index: 20;
        }

        & .tabs {
            background: #fff;
            z-index: 15;
            margin-top: 15px;
        }
    }

    &.full {
        width: 100%;

        & .content {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }

    &.minWidth {
        min-width: 500px;
    }
}

.save-group {
    & button {
        margin: 0 !important;
        width: 170px;
    }

    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 20px;
    -webkit-box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
    box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
    background: rgba($color: #fff, $alpha: 0.9);
    padding: 10px 10px;
    border-radius: 10px;
}

.card-header {
    background: #fff !important;
    border-bottom: none;
}