.card {
  // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: #fefefe;
  color: $card-black-color;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px -7px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 4px 4px 8px -7px rgba(34, 60, 80, 0.1);
  box-shadow: 4px 4px 8px -7px rgba(34, 60, 80, 0.1);

  .card-image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      width: 100%;
    }
  }

  .card-body {
    padding: 20px 20px 10px 20px;
  }


  .description {
    font-size: $font-paragraph;
    color: $font-color;
  }

  h6 {
    font-size: $font-size-small;
    margin: 0 0 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .badge {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 11px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;


    &-info {
      background: $info-bg;
    }

    &-warning {
      background: $warning-bg;
      font-weight: bold;
    }

    &-danger {
      background: $danger-bg;
    }
  }

  .card-category,
  label {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: -1px;
    // margin-left: 4px;
    font-weight: 400;
    color: rgba($color: #000511, $alpha: .6);

    i {
      font-size: $font-paragraph;
    }
  }

  label {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 1px;
    font-weight: 400;
    color: rgba($color: #000511, $alpha: .6);
  }

  .card-title {
    margin: $none;
    color: $card-black-color;
    font-weight: bold;
  }

  .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }

  .footer {
    padding: 0;
    line-height: 30px;

    .legend {
      padding: 5px 0;
    }

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .stats {
    color: #a9a9a9;
    font-weight: 300;

    i {
      margin-right: 2px;
      min-width: 15px;
      display: inline-block;
    }
  }

  .footer div {
    display: inline-block;
  }

  .author {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .author i {
    font-size: $font-size-base;
  }

  &.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: $medium-gray;
    content: "";
    position: absolute;
  }

  .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
  }

  .table {
    border-bottom: 1px solid #ebebeb;

    tbody td:first-child,
    tfoot th:first-child,
    tfoot td:first-child,
    thead th:first-child,
    thead td:first-child {
      padding-left: 15px;
    }

    tbody td:last-child,
    tfoot th:last-child,
    tfoot td:last-child,
    thead th:last-child,
    thead td:last-child {
      padding-right: 15px;
    }
  }

  .alert {
    border-radius: $border-radius-base;
    position: relative;

    &.alert-with-icon {
      padding-left: 65px;
    }
  }

  .numbers-icon {
    position: relative;
    background: $smoke-bg;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 10px;
    border-radius: 10px;

    &>img {
      opacity: .65;
      width: 100%;
      height: 100%;
      position: absolute;
      max-width: 70%;
      max-height: 70%;
      -o-object-fit: contain;
      object-fit: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .numbers-text {
    font-size: 1.6em;
    text-align: left;
    min-height: 100px;
    font-weight: 500;
    color: $info-color;
    margin: 0 0 10px 0 !important;

    & h4 {
      max-width: 100%;
      font-size: 0.7em;
      line-height: 1.4em;
      padding: 0;
      margin: 0 0 10px 0 !important;
      color: $danger-color;
    }

    & p {
      color: #666;
      margin: 0;
      margin-top: 5px;
      font-size: 15px;
      line-height: 18px;
    }
  }

  ul.team-members {
    li {
      padding: 10px 0px;

      &:not(:last-child) {
        border-bottom: 1px solid $medium-pale-bg;
      }
    }
  }
}

.card-user {
  .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .image-plain {
    height: 0;
    margin-top: 110px;
  }

  .author {
    text-align: center;
    text-transform: none;
    margin-top: -65px;

    .title {
      color: $default-states-color;

      small {
        color: $card-muted-color;
      }
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;

    &.border-white {
      border: 5px solid $white-color;
    }

    &.border-gray {
      border: 5px solid $card-muted-color;
    }
  }

  .card-title {
    font-weight: 600;
    line-height: 24px;
  }

  .description {
    margin-top: 10px;
  }

  .card-body {
    min-height: 200px;
  }

  &.card-plain {
    .avatar {
      height: 190px;
      width: 190px;
    }
  }
}

.card-map {
  .map {
    height: 500px;
    padding-top: 20px;

    >div {
      height: 100%;
    }
  }
}

.card-user,
.card-price {
  .card-footer {
    padding: 5px 15px 10px;
  }

  hr {
    margin: 5px 15px;
  }
}

.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;

  .image {
    border-radius: 4px;
  }
}