.post-content {
  &-type {
    text-align: center;
    & img {
      margin-top: 10px;
      width: 200px;
      max-width: 90%;
    }
  }
  &-image {
    text-align: center;
    img {
      max-width: 100%;
      width: auto;
      max-height: 70vh;
      object-fit: contain;
    }
  }

  &-video {
    z-index: 0;
    height: 0;
    padding-top: 50%;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;

    iframe {
      overflow: hidden;
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none!important;
      box-shadow: none!important;
    }
  }
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 5;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  &-header {
    width: 100%;
    display: block;
    position: fixed;
    top:0;
    height:100px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.12);
    background: #fff;
    z-index: 9;
    & ul {
      overflow: scroll;
      display: flex;
      align-items: center;
      padding: 0 10px;
      & > li {
            margin: 20px 10px;
            & > button {
              
              max-width: 100%;
              white-space: nowrap;
              text-align: center;
              border-radius: 10px;
              border:1px solid #ebebeb;
              padding: 10px 10px;
              & > i {
                font-size: 18px;
                color:orange;
              }
              & > span {
                margin-top: 2px;
                display: block;
                font-size: 12px;
                opacity: .7;
              }
            }
      }
    }
  }
  &-body {
    top:100px;
    bottom:70px;
    left: 0;
    right: 0;
    display: block;
    background: #f7f7f7;
    position: absolute;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 100%;

    height: 100%;
    & > div{
      margin: 20px auto 180px auto;
      position: relative;
      overflow: hidden;
      max-width: 1024px;
      width: 100%;
      background: #fff;
      border-radius: 20px;
    }

    &-item {
      border-bottom: 1px solid #ebebeb;
      &:last-child {
        border: none;
      }
      padding: 20px 20px;
      background: #fff;
      display: block;
      position: relative;
      width: 100%;
      min-height: 100px;
      &:hover {
        & button.item-delete {
          opacity: 1;
        }
      }
      & button.item-delete {
        z-index: 9;
        position: absolute;
        opacity: 0.3;
        right: 10px;
        top:10px;
      }
    }
  }
  &-footer {
    text-align: center;
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index: 99;
    background: #fff;
    border-top: 1px solid #ebebeb;
    & > button {
      margin: 0 5px;
      width: 140px;
    }
  }
}