.field-list {

   margin-bottom: 20px;

   &-content {
      // background: #f7f7f7;
      margin-top: -1px;
      border-radius: 12px;
      padding: 15px;
      // -webkit-box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
      // -moz-box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
      // box-shadow: 5px -5px 10px -3px rgba(34, 60, 80, 0.15);
      border: 1px solid rgba($color: #000000, $alpha: .09);


      & .field-list-content {
         box-shadow: none;
         -moz-box-shadow: none;
         -webkit-box-shadow: none;

         &>.row>div {
            margin-bottom: 10px;
         }
      }
   }


}

.language-list {
   display: none;
   // display: flex;
   z-index: 0;

   &>li {
      border: 1px solid rgba($color: #000000, $alpha: .08);
      margin-right: -1px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      width: 40px;
      height: 25px;


      border-radius: 7px 7px 0 0;
      position: relative;

      & input[type="radio"] {
         visibility: hidden;
         height: 0;
         width: 0;

         &:checked~label {
            opacity: 1;
            z-index: 2;
            background: #ffc107;
            color: #fff;

         }
      }

      & label {
         color: #000;
         cursor: pointer;
         z-index: 0;
         opacity: .4;
         position: absolute;
         left: 0;
         top: 0;
         padding: 0;
         margin: 0;
         height: 25px;
         line-height: 23px;
         width: 40px;
         display: block;

      }

   }
}