.filters {
  display: flex;
  overflow-y: scroll !important;

  @media(min-width:768px) {
    flex-wrap: wrap;
  }

  // margin-bottom: 20px;
  &>div {
    margin-right: 15px;
    width: 220px;
    min-width: 220px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}