a,
button,
input,
select,
textarea {
  outline: none !important;
  cursor: pointer;

}

textarea,
input[type=text] {
  background: #f4f4f4;
  ;
}

.vdatetime-input {
  width: 100%;
  border-radius: 12px;
  font-size: $font-size-base;
  height: 38px;
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
  padding: 10px;
}


.form-control::-moz-placeholder {
  @include placeholder(#999, 1);
}

.form-control:-moz-placeholder {
  @include placeholder(#999, 1);
}

.form-control::-webkit-input-placeholder {
  @include placeholder(#999, 1);
}

.form-control:-ms-input-placeholder {
  @include placeholder(#999, 1);
}

.form-control {
  height: 38px !important;
  background-color: $smoke-bg;
  border: 1px solid $smoke-bg;
  border-radius: $border-radius-extreme;
  color: $black-color;
  font-size: $font-size-base;
  padding: 8px 10px !important;

  transition: background-color 0.3s ease 0s;
  @include input-size($padding-base-vertical, $padding-base-horizontal, $height-base);
  @include box-shadow(none);

  &:focus {
    background-color: $white-bg;
    @include box-shadow(none);
    outline: 0 !important;
  }

  .has-success &,
  .has-error &,
  .has-success &:focus,
  .has-error &:focus {
    @include box-shadow(none);
  }



  .has-success & {
    background-color: $success-input-bg;
    color: $success-color;

    &.border-input {
      border: 1px solid $success-color;
    }
  }

  .has-success &:focus {
    background-color: $white-bg;
  }

  .has-error & {
    background-color: $danger-input-bg;
    color: $danger-color;

    &.border-input {
      border: 1px solid $danger-color;
    }
  }

  .has-error &:focus {
    background-color: $white-bg;
  }

  &+.form-control-feedback {
    border-radius: $border-radius-large;
    font-size: $font-size-base;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: middle;
  }

  &.border-input {
    border: 1px solid $table-line-color;
  }

  .open & {
    border-bottom-color: transparent;
  }
}

.input-lg {
  height: 55px;
  padding: $padding-large-vertical $padding-large-horizontal;
}

.has-error {

  .form-control-feedback,
  .control-label {
    color: $danger-color;
    font-weight: bold;
  }
}

.has-success {

  .form-control-feedback,
  .control-label {
    color: $success-color;
  }
}

.input-group-addon {
  background-color: $gray-input-bg;
  border: medium none;
  border-radius: $border-radius-base;

  .has-success &,
  .has-error & {
    background-color: $white-color;
  }

  .has-error .form-control:focus+& {
    color: $danger-color;
  }

  .has-success .form-control:focus+& {
    color: $success-color;
  }

  .form-control:focus+&,
  .form-control:focus~& {
    background-color: $white-color;
  }
}

.border-input {
  .input-group-addon {
    border: solid 1px $table-line-color;
  }
}

.input-group-simple {
  margin: 15px 0 20px 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group[disabled] {
  .input-group-addon {
    background-color: $light-gray;
  }
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child) {
  border-left: 0 none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: $light-gray;
  cursor: not-allowed;
  @include placeholder($dark-gray, 1);
}

.form-control[disabled]::-moz-placeholder {
  @include placeholder($dark-gray, 1);
}

.form-control[disabled]:-moz-placeholder {
  @include placeholder($medium-gray, 1);
}

.form-control[disabled]::-webkit-input-placeholder {
  @include placeholder($medium-gray, 1);
}

.form-control[disabled]:-ms-input-placeholder {
  @include placeholder($medium-gray, 1);
}

.input-group-btn .btn {
  border-width: $border-thin;
  padding: $padding-round-vertical $padding-base-horizontal;
}

.input-group-btn .btn-default:not(.btn-fill) {
  border-color: $medium-gray;
}

.input-group-btn:last-child>.btn {
  margin-left: 0;
}

textarea.form-control {
  max-width: 100%;
  padding: 10px 18px;
  resize: none;
  width: 100%;
  min-height: 120px;
}

select.form-control {
  padding-left: 20px;
  padding-right: 20px;
}

.form-check {
  line-height: 17px;
}

.search {
  // position: -webkit-sticky !important;
  // position: sticky !important;
  // top: 0 !important;
  // z-index: 9;

  .form-control:focus {
    border-width: 2px;
  }
}

.m-chckbox--container {
  overflow: hidden;
  margin: 4px 0 4px 0 !important;

  &>.m-chckbox--group {
    border-radius: 7px;

    & input[type=checkbox] {
      appearance: auto;
      position: relative;
    }

    &>div {
      line-height: 0 !important;
    }
  }
}

.btn {
  border-radius: 10px;
  //   -webkit-box-shadow: 4px 4px 4px 1px rgba(34, 60, 80, 0.2);
  // -moz-box-shadow: 4px 4px 4px 1px rgba(34, 60, 80, 0.2);
  // box-shadow: 4px 4px 4px 1px rgba(34, 60, 80, 0.2);
  // border:2px solid #fff;
  font-weight: 400;

  &-help {
    background: transparent;
    border: none;
    color: #2c75ff;
    font-size: 16px;
    padding: 0 0 1px 3px;
    height: 20px;
    margin: 0;
    line-height: 17px;

    &:hover {
      background: transparent;
      border: none;
      color: $success-color;
    }
  }

  &-table {
    padding: 0;
    height: 35px;
    width: 35px;
    font-size: 12px;
    border-radius: 50%;
    border: 2px solid $white-color;

  }

  &-sm {
    padding: 5px 10px;
  }
}



.v--modal {
  padding: 10px;
  background: transparent !important;
  border-radius: 20px !important;
  overflow-y: scroll !important;
  box-shadow: none !important;
  height: auto !important;
  top: 10px !important;
}

.radio-button {
  position: relative;
  padding: 5px 0;

  &>input[type="radio"] {
    position: absolute;
    top: 8px;
    left: 0;

    &:checked~label {
      color: #111;
    }
  }

  &>label {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding-left: 30px;
    font-size: 16px !important;
    line-height: 0;
    text-transform: uppercase;
  }
}

.quill-editor {
  border: 1px solid #ebebeb;
  border-radius: 12px;

  .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #ebebeb;
  }

  .ql-container.ql-snow {
    border: none;


  }

  .ql-editor {
    min-height: 150px;
  }
}


.disable_swipe {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none;
}

.disabled {
  opacity: .6;
}

.mw {
  min-width: 220px;
  max-width: 100% !important;
}