.install {
  max-width: 1024px;
  margin: auto;

  &-items {
    border: 1px solid #ebebeb;
    padding: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

    & .m-chckbox--container {
      padding: 5px 20px;
      max-width: 25%;
      min-width: 25%;

      @media (max-width: 1024px) {
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
      }

      @media (max-width: 768px) {
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
      }

      @media (max-width: 560px) {
        max-width: calc(100% / 1);
        min-width: calc(100% / 1);
      }
    }

    & .form-group {
      padding: 5px 20px;
      max-width: 33%;
      min-width: 33%;

      @media (max-width: 1024px) {
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
      }

      @media (max-width: 560px) {
        max-width: calc(100% / 1);
        min-width: calc(100% / 1);
      }
    }
  }

  & .link {
    font-size: 18px;
    opacity: .7;
  }

  text-align: left;
  margin-bottom: 10px;

  &-control {
    text-align: right;
    text-align: left;
    align-items: center;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 30px;

    &>button, & > a {
      margin: 0 5px;
      display: blocks;
      min-width: 120px;
      margin-bottom: 10px;
    }
  }
}