ul.items {
  margin-top: 20px;
  & > li {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    & > div {
      min-width: 120px;
      &:last-child {
        margin-left: auto;
      }
      &.items-control {
        width: 120px;
      }
      &.items-from {
        max-width: calc(100% - 140px);
        width: 400px;
      }
    }
  }
}
