.selected {

  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #ebebeb;
  bottom: 0;
  background: rgba($color: #ffffff, $alpha: 0.9);
  z-index: 999;
  left: auto;
  padding: 20px;

}
