ul.set_language {
  margin: 8px -3px 10px;


  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


  &>li {
    cursor: pointer;

    width: calc(100%/3);
    margin: 0 3px;
    color: $white-color;

    &>div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-weight: 500;
      overflow: hidden;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      border: 2px solid $white-color;
      overflow: hidden;
      background-color: transparent;
    }

    &.active-language {
      color: $black-color;

      &>div {
        background-color: $white-color;
        border-color: $white-color;
      }
    }



  }

  &.dark {


    margin: 40px auto 10px;

    &>li {
      color: $black-color;

      &>div {
        font-size: 15px;
        padding: 5px 0;
        border-color: $black-color;


      }

      &.active-language {
        color: $white-color;

        &>div {
          background-color: $black-color;
          border-color: $black-color;
        }
      }
    }

  }

}