.table {

  border-radius: 10px;
  overflow: hidden;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;

  .radiobox {
    cursor: pointer;
    display: flex;
    align-items: center;

    &> {
      display: block;

      input {
        margin-right: 10px;
      }
    }
  }

  &-header {
    display: flex;
    cursor: pointer;
    align-items: center;
    min-height: 40px;

    &-title {
      font-size: 15px;
      font-weight: 500;
      margin-right: 10px;
    }

    &-sort {

      &>span {
        opacity: .4;
        display: block;
        font-size: 10px;
        margin: 2px;
      }
    }
  }

  img {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }

  thead,
  tbody,
  tfoot {

    tr>th,
    tr>td {
      vertical-align: top;
      font-size: 13px;
      font-weight: 400;
      border-top: 1px solid $table-line-color;
      border-right: 1px solid $table-line-color;

      // max-width:100%;
      &:last-child {
        border-right: none;
      }

      min-width: 40px;


      &.control-item {
        &:last-child {
          text-align: right;
        }

        // min-width: 110px;
        // max-width: 110px;
        // width: 110px;

      }

      &.full {
        white-space: nowrap;
      }

      &.minWidth {
        min-width: 500px;
      }
    }
  }

  thead th {
    border-bottom: 1px solid $table-line-color;
    border-top: 0;
    // max-width:100%;
    // white-space:nowrap;
  }

  >thead>tr>th {
    border-bottom-width: 0;
    font-size: $font-size-h5;
    font-weight: $font-weight-light;
  }

  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 22px;
    padding: 0;
    width: 15px;
  }

  >thead>th {
    white-space: nowrap;
    max-width: 100%;
    padding: 1px 5px !important;
    border-right: 1px solid #ebebeb;

  }

  >thead>tr>th,
  >tbody>tr>th,
  >tfoot>tr>th,
  >thead>tr>td,
  >tbody>tr>td,
  >tfoot>tr>td {
    padding: 1px 5px !important;
    vertical-align: middle;
    width: auto;
  }

  // >tbody>tr>td.full {

  //   max-width: 400px;
  //   min-width: 300px;

  // }

  .th-description {
    max-width: 150px;
  }

  .td-price {
    font-size: 26px;
    font-weight: $font-weight-light;
    margin-top: 5px;
    text-align: right;
  }

  .td-total {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    padding-top: 20px;
    text-align: right;
  }

  .td-actions .btn {

    &.btn-sm,
    &.btn-xs {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  >tbody>tr {

    border-radius: 10px;
    position: relative;
  }
}

.table-striped {
  tbody>tr:nth-of-type(2n + 1) {
    background-color: #fff;
  }

  tbody>tr:nth-of-type(2n) {
    background-color: $pale-bg;
  }

  >thead>tr>th,
  >tbody>tr>th,
  >tfoot>tr>th,
  >thead>tr>td,
  >tbody>tr>td,
  >tfoot>tr>td {
    padding: 15px 8px;
  }
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
  border: none !important;
}