.groups {
  z-index: 0;
  display: flex;
  align-items: cener;
  width: 100%;

  & > li {
    border-left: 1px solid #ebebeb;
    margin-left: -5px;
    &:first-child {
      border-left: 1px solid #fff;
      margin-left: 0;
    }
    -webkit-box-shadow: 8px -2px 5px -4px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 8px -2px 5px -4px rgba(34, 60, 80, 0.1);
    box-shadow: 8px -2px 5px -4px rgba(34, 60, 80, 0.1);
    cursor: pointer;
    display: flex;
    border-radius: 10px 10px 0 0;
    align-items: cener;
    padding: 8px 33px;
    color: #000;
    background-color: #fff;
    & > span {
      font-size: 16px;
      font-weight: 500;
      display: block;
    }
    z-index: 0;
    &.active {
      z-index: 3;
      background-color: #000511;
      color: #fff;
    }
  }
  &-navigation {
    min-width: 1068px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
    z-index: 2;
    background: #fff;
    -webkit-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.1);
    box-shadow: 0px -4px 5px -4px rgba(34, 60, 80, 0.1);
    align-items: center;
    display: flex;
    & > li {
      margin-top: 2px;
      margin-right: 25px;
      & > button {
        background: #fff;
        border: none;
        padding: 5px 0;
        font-size: 16px;
        border-bottom: 3px solid #fff;
        &.active {
          border-bottom: 3px solid #000511;
        }
      }
    }
  }
}

.teacher {
  h5 {
    margin: 20px;
  }
  &-area {
    background: #fff;
    height: calc(100vh - 255px);
    border-radius: 0 0 10px 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    min-width: 1068px;
  }
}

ul.list {
  border-top: 1px solid #ebebeb;
  min-width: 300px;
  max-width: 300px;
  max-height: calc(100vh - 255px);
  overflow-y: scroll;
  overflow-x: hidden;
  & > li {
    display: flex;
    align-items: center;
    & > div {
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      border-radius: 6px;
      background: #ebebeb;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    cursor: pointer;
    width: 300px;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 15px;
    margin-top: -1px;

    &.active,
    &:hover {
      background: #000511;
      color: #fff;
    }
    & > span {
      display: block;
      padding-left: 20px;
    }
  }
}

.area {
  width: 100%;
  position: relative;
  border-left: 1px solid #ebebeb;
  min-width: 768px;
  max-width: 100%;
  background: #fff;
  min-height: calc(100vh - 255px);

  &-message {
    h5 {
      margin-bottom: 20px;
    }
    overflow: hidden;
    padding: 20px;
    .message {
      padding: 20px 0 140px 0;
      max-height: calc(100vh - 255px);
      overflow-y: scroll;
      overflow-x: hidden;
      .m {
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: block;

        .bubble {
          float: left;
          &.me {
            float: right;
          }
          border-radius: 20px;
          padding: 15px 15px;
          background: #f2f2f2;

          width: 45%;
          min-width: 200px;
          & > span {
            display: block;
            &.name {
              font-size: 15px;
              margin-bottom: 10px;
              font-weight: bold;
            }
            &.files {
              margin-bottom: 20px;
            }
            &.text {
              margin-bottom: 20px;
              font-size: 14px;
            }
            &.date {
              width: 100%;
              text-align: right;
              font-size: 10px;
            }
          }
        }
      }
    }
    .control {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: auto;
      width: 100%;
      height: 65px;
      border-top: 1px solid #ebebeb;
      background: #fff;

      & > div {
        width: 100%;
        display: flex;
        justify-content: center;
        .control-textarea {
          width: 100%;
          & > input {
            display: block;
            height: 65px;
            padding-left: 20px;
            border: none;
            width: 100%;
          }
        }
        .control-buttons {
          & > button {
            display: block;
            background: #000511;
            color: #fff;
            border: none;
            width: 90px;
            min-width: 90px;
            height: 65px;
            margin-left: auto;
          }
        }
      }
    }
  }
}
