.card-info {
    overflow-y: hidden;
    .save-panel {
        position: fixed;
        width: 100%;
        left: auto;
        bottom: 0;
        z-index: 10;
        background: rgba($color: #fff, $alpha: 0.9);
        padding: 10px 0;
    }

    position: fixed;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100vh;
    top: 0;
    margin: 0;
    right: 0;
    left: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 20;

    & .content {
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        padding: 0 20px 90px 20px;
        background-color: #fff;
        display: block;
        float: right;
        width: 100%;
        max-width: 800px;
        min-height: 100vh;
        & .cart-header {
            padding: 20px 0 10px 0;
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 20;
        }

        & .tabs {
            position: sticky;
            top: 60px;
            background: #fff;
            z-index: 20;
        }
    }
    &.full {
        & .content {
            width: 100%;
        }
    }
}
