
.fixed-pagination  {
  margin-top: 10px;
  position: relative;
  bottom: 5px;
  overflow-y: scroll !important;
  overflow-x: scroll;
  //background: rgba(255,255,255,0.1);
  right: 5px;
  padding: 5px 5px;
  border-radius: 10px;
  max-width: 100%;
}
.responsive-pagination {

  text-align: left;
 padding: 10px 10px;
  max-width: 100%;
  width: 100%;
  overflow-y: scroll !important;
  overflow-x: scroll;
  position: relative;
  height: auto;

  .pagination-project {
    overflow-y: scroll !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    padding: 0;

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 5px;

      a {

        font-size: 12px;
        font-weight: bold;
        padding: 5px 11px;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: 1px solid #ddd;
      }
    }

    li.disabled {
      opacity: 0.4;
      pointer-events: none;
    }


    li.active {
      a {
        border-color: $card-black-color;
        background: $card-black-color;
        color: $white-color;
      }
    }


  }
}