.tabs {
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  position: relative;
  margin-bottom: 30px;
  // border-bottom: 1px solid #ebebeb;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    height: 50px;
    position: relative;
    overflow-y: hidden;

    padding: 0;
    margin: 0;
    display: flex;

    li {
      display: inline-block;
      margin-left: 0;
      list-style-type: none;
      text-align: left;
      list-style: none;
      margin-right: 33px;

      button {
        max-width: 100%;
        white-space: nowrap;
        transition: 0.1s;
        padding: 8px 0 8px 0;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        background: transparent;
        border: none;
        outline: none;
        color: #777;
        border-bottom: 4px solid transparent;

        &.active {
          opacity: 1;
          color: #000511;
          border-bottom: 4px solid transparent;
        }

        &:hover:not(.active) {
          border-bottom: 4px solid transparent;
        }
      }
    }
  }
}


ul.status {
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  padding: 0 0 10px;
  margin: 10px 0 0 0;
  list-style: none;
  max-width: 100%;
  overflow-y: scroll !important;
  margin-bottom: 10px;

  @media(min-width:768px) {
    flex-wrap: wrap;
  }


  &>li {
    margin-right: 16px;

    @media(min-width:768px) {
      margin-bottom: 10px;
    }

    &>div {
      position: relative;

      &>input {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 3px;

        &:checked~label {
          color: #111;
        }
      }

      &>label {
        font-weight: bold;
        display: inline-block;
        padding-left: 20px;
        font-size: 16px;
        padding-top: 0;
        line-height: 0;
        text-transform: uppercase;
        max-width: 100%;
        white-space: nowrap;
      }
    }
  }
}