<template>
  <div :class="`card-info ${isFull===true ? 'full' : ''}`">
    <div class="content">
      <card>
      <header-item :card="card" />
      <tabs :tabs="tabs" :active="activeTab" v-model="activeTab" />
      <template v-for="(tab, key) in tabs">

        <keep-alive v-if="tab.keepAlive == true && activeTab === key" :key="key">
          <component
            :is="tab.component"
            :id="id"
          />
 
        </keep-alive>

        <component
          v-else-if="!tab.keepAlive && activeTab === key"
          :is="tab.component"
          :id="id"
          :key="key"
        />
    
      </template>
      <slot></slot>
      </card>
    </div>
  </div>
</template>
<script>
export default {
  props: ["card", "activeTab", "tabs", "id", "isFull"],
  components: {
    HeaderItem: () => import("./HeaderItem"),
  },
};
</script>