<template>
  <div>
    <language-list
      v-if="isLang === true"
      v-model="langCurrent"
      :name="`${item.id}${name ? name : ''}`"
    />
    <div class="row">
      <template v-for="field in fields">
        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-if="
            field.ishide !== true &&
            field.type === 'field' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <fg-input
            :type="field.textType"
            :label="field.label"
            v-model="item[field.key]"
            :readonly="field.readonly"
            step="1"
          ></fg-input>
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-if="
            field.ishide !== true &&
            field.type === 'mask' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <fg-input
            type="text"
            :label="field.label"
            v-mask="field.mask"
            v-model="item[field.key]"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-if="
            field.ishide !== true &&
            field.type === 'tag' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <label>{{ field.label }}</label>
          <tags v-model="item[field.key]" />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'img' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <img-upload
            :name="field.key"
            v-model="item[field.key]"
            :title="field.label"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'imgs' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <images
            :url="field.image_key"
            v-model="item[field.key]"
            :title="field.label"
            :result="item[field.resultKey]"
            :link="field.link"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'zip' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <zip-upload
            v-model="item[field.key]"
            :title="field.label"
            :name="field.key"
            :result="item[field.resultKey]"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'select' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <selector
            :disabled="field.readonly"
            v-model="item[field.key]"
            :title="field.label"
            :prefix="field.prefix"
            :modal="field.modal"
            :input="field.input"
            :params="field.params"
            :selectKey="field.selectKey"
            @input="conditional"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'selects' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <selectors
            :disabled="field.readonly"
            :selectKey="field.selectKey"
            v-model="item[field.key]"
            :title="field.label"
            :modal="field.modal"
            :prefix="field.prefix"
            :params="field.params"
            :input="field.input"
            @input="conditional"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'datetime' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <label>{{ field.label }}</label>
          <datetime
            class="from-control"
            type="datetime"
            v-model="item[field.key]"
            format="dd/MM/yyyy HH:mm:ss"
          ></datetime>
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'checkbox' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <br />
          <checkbox v-model="item[field.key]" color="#ffc107">{{
            field.label
          }}</checkbox>
          <br />
          <br />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'static_radio' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <radio-list
            :title="field.label"
            :items="field.items"
            :name="field.key"
            v-model="item[field.key]"
            color="#ffc107"
            >{{ field.label }}</radio-list
          >
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'object' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <h4>{{ field.label }}</h4>
          <sub-field-list
            v-model="item[field.key]"
            :subFields="field.subFields"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'location' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <label>{{ field.label }}</label>

          <location
            :city="item.location ? item.location.id : null"
            :region="item.location ? item.location.parent_id : null"
            v-model="item[field.key]"
          />
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'textarea' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <div class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <textarea class="form-control" v-model="item[field.key]" />
          </div>
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-show="
            !field.langKey || (field.langKey && field.langKey === langCurrent)
          "
          v-else-if="
            field.ishide !== true &&
            field.type === 'role' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <div class="form-group">
            <label class="control-label">{{ field.label }}</label>
            <role v-model="item[field.key]" />
          </div>
        </div>

        <div
          :class="field.col ? field.col : 'col-12'"
          v-else-if="
            field.ishide !== true &&
            field.type === 'html' &&
            field.isMultiLang !== true
          "
          :key="field.key"
        >
          <div
            v-show="
              !field.langKey || (field.langKey && field.langKey === langCurrent)
            "
          >
            <label class="control-label">{{ field.label }}</label>

            <quill-editor v-model="item[field.key]" :options="editorOption" />
            <br />
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
/**Меняю добавление модалку */
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";

export default {
  name: "FieldsList",
  data: () => ({
    langCurrent: "ru",
    editorOption: {
      modules: {
        toolbar: [
          ["bold", "italic", "underline", "strike", "link", "image"], // toggled buttons
          ["blockquote", "code-block"],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
        ],
      },
    },
  }),
  components: {
    quillEditor,
  },
  props: ["item", "fields", "name"],
  computed: {
    isLang: {
      get() {
        for (let i = 0; i < this.fields.length; i++) {
          if (this.fields[i].isMultiLang) {
            return true;
          }
        }
        return false;
      },
    },
  },
  created() {
    for (let i = 0; i < this.fields.length; i++) {
      if (this.fields[i].type === "hidden") {
        this.item[this.fields[i].key] = this.fields[i].value;
      }
    }
  },
  methods: {
    conditional(val) {
      console.log(val);
      for (let i = 0; i < this.fields.length; i++) {
        if (this.fields[i].toParametr) {
          if (
            this.fields[i].toParametr.key &&
            this.fields[i].toParametr.parametr
          ) {
            let key = this.fields[i].toParametr.key;
            let parametr = this.fields[i].toParametr.parametr;
            for (let j = 0; j < this.fields.length; j++) {
              if (this.fields[j].key === key) {
                let value = null;
                if (val && val.id) {
                  value = val.id;
                }
                this.fields[j].params[parametr] = value;
                //Как мне узнать, актуальную выборку
                //this.item[key]  = null;
              }
            }
          }
        }
      }
    },
  },
};
</script>

