<template>
  <card-item card="item_user_stat"  :tabs="tabs" :activeTab="activeTab" :id="id">
  
  </card-item>
</template>
<script>
export default {
  methods: {
  },
  props: ["id"],
  data() {
    return {
      tabs: [
        {
          title: "Информация",
          component: () => import("./Info"),
        },
          {
          title: "Заказы",
          component: () => import("./Orders"),
        },
        {
          title: "Торговые точки",
          component: () => import("./Shops"),
        },
        {
          title: "Передвижение",
          component: () => import("./Map"),
          keepAlive:true
        },

   
      ],
      activeTab: 0,
    };
  },
};
</script>