<template>
<div>

        <button @click="init" class="btn btn-sm btn-danger mb-4">Обновить</button>
      <div class="row">
          <div class="col-6">
                <label>Дата с</label>
                <datetime  v-model="from_at"  @input="init"  class="from-control"  type="datetime" format="dd/MM/yyyy HH:mm:ss"></datetime> 

          </div>
          <div class="col-6">
                <label>Дата по</label>
                <datetime  v-model="till_at"  @input="init"  class="from-control"  type="datetime" format="dd/MM/yyyy HH:mm:ss"></datetime> 
          </div>
      </div>


      <ListMap :cardLink="`item_shop`" v-if="done===true" :defaultLat="lstLat" :params="{user_id:id}" :defaultLon="lstLon"  :polyline="{color:'blue', latlngs:data}"/>
</div>

</template>
<script>
import ListMap from '@/components/ListMap';
export default {
  components:{
    ListMap
  },
  name: "products",
props:{
  id: {
    default : null,
  }
},
created() {
  this.init();
},
methods: {
      init(){
        this.$loading(true);
        this.$http.get(`users/${this.id}/points` , {params:{from_at:this.from_at, till_at:this.till_at}}).then(response=> {
     
            try {
            const content = response.data;
            const data = content.data;
            this.from_at = content.from_at;
            this.till_at = content.till_at;

            if (data.length){
              for(let i=0;i<data.length;i++){
                   this.data.push([data[i].lat, data[i].lon]);
              }
              this.lstLat =  data[0].lat;
              this.lstLon =  data[0].lon;
            }
            } catch (error) {
              
            }
            this.done = true;
            this.$loading(false);
        });
      }
  },
  data() {
    return {
       data:[],
       lstLat:0,
       lstLon:0,
       done:false,
       from_at:null,
       till_at:null,
    };
  },
};
</script>
