<template>
    
<div style="height: calc(100vh - 340px); width: 100%; border-radius:20px; overflow:hidden; margin-bottom:10px; ">

    <l-map
      v-if="showMap"
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
    >
      <l-tile-layer
        :url="url"
        :attribution="attribution"
      />

      <template v-for="item in items">
        <l-marker v-if="item.lat && item.lon"  :lat-lng="setPosition(item)" :key="item.id">
          <l-popup>
            <div >
            <h6>{{item.name}}</h6>
              <p>
                Адрес:  <span v-if="item.location"> <span v-if="item.location.parent">{{item.location.parent.title}}</span> {{item.location.title}} </span> {{item.address}}
              </p>
              <p v-if="item.description">
                  Ориентир:  {{item.description}}
              </p>
              <p v-if="item.dealer">
                    Организация: {{item.dealer.llc_name}} <Br/>
                    Владелец: {{item.dealer.full_name}} <Br/>
                    Номер телефона: {{item.dealer.phone}} <Br/>
              </p>
              <button @click="innerClick(item)" class="btn btn-sm btn-warning">Открыть</button>
            </div>
          </l-popup>
        </l-marker>
      </template>

      <template v-if="polyline.latlngs.length">
          <l-polyline
            :lat-lngs="polyline.latlngs"
            :color="polyline.color"
          />
      </template>

    </l-map>
  </div>

</template>
<script>

import {mapState} from 'vuex';
import { latLng, Icon } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup, LTooltip, LPolyline } from "vue2-leaflet";
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});
import 'leaflet/dist/leaflet.css';
export default {
  computed:{
       ...mapState(["lastUpdate"]),
  },
   components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LTooltip,
    LPolyline
  },
  name: "products",
  props:{

      defaultLat:{
          default: 41.311081
      },
      defaultLon:{
          default: 69.240562
      },
      params:{
        default:function(){
          return {};
        }
      },
      cardLink:{
        default:function(){
          return '';
        }
      },
      polyline: {
        default:function(){
          return {
            latlngs: [],
            color: "green"
          };
        }
      },
  },
  created(){
    this.init(1);
  },
  methods: {
    init(page = 1){
      if (page == 1){
        this.items = [];
      }
      let params = {...this.params};
      params['page'] = page;
      this.$http.get('shops', {params:params}).then(response => {
        const data = response.data;
        this.items.push(...data.data);
        if (page<data.meta.last_page) {
            this.init(page+1);
        }
      })
    },
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
    innerClick(item) {
      const element = `${this.cardLink}`;
      let query = Object.assign({}, this.$route.query);
      if (query[element] == item.id) {
        return false;
      }
      if (query[element]) {
        delete query[element];
      }
      query[element] = item.id;
      setTimeout(() => {
        this.$router.replace({ query: query });
      }, 20);
    },
    setPosition(item){
      try {
            return  latLng(item.lat, item.lon)
      } catch (error) {
           return  latLng(0,0)
      }
    }
  },
  data() {
    return {
      items:[],
      zoom: 13,
      center:latLng(this.defaultLat ? this.defaultLat  : 41.311081 , this.defaultLon ? this.defaultLon : 69.240562),
      currentCenter: latLng(this.defaultLat ? this.defaultLat  : 41.311081 , this.defaultLon ? this.defaultLon : 69.240562),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '',
      currentZoom: 11.5,
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true
    };
  },
  watch:{
    params: {
        handler: function (val) {
          setTimeout(() => {
            this.init(1);
          }, 100);
        },
        deep: true,
    },
      lastUpdate(val) {
      if (val) {
        this.init(1);
      }
    },
  }
};
</script>
<style>
 .leaflet-control, .leaflet-popup-close-button {
  opacity:0;
}
</style>
