<template>
  <div class="profile">
      <div class="profile-avatar">
          <img :src="profile.avatar"/>
      </div>
      <div class="profile-label">
        <h5>{{profile.first_name}} {{profile.last_name}}</h5>
      </div>
  </div>
</template>
<script>

export default {
  watch: {
  },
  name: "Role",
  props: {
    profile: {
      default: function () {
        return {};
      },
    },
  },

};
</script>
<style lang="scss">
.profile {
  text-align:center;
  margin-bottom:20px;
  &-avatar {
    margin-bottom:10px;
    & >   img {
      border:1px solid #ebebeb;
      width:100px;
      border-radius:10px;
      height:100px;
      object-fit:contain;
     }
  }
}
</style>
