<template>
  <div v-if="item">
    <div v-if="item.dealer">
      <h6>
        Валеделец: <span class="text-info">{{ item.dealer.full_name }} </span>
      </h6>
      <h6>
        Номер телефона: <span class="text-info">{{ item.dealer.phone }} </span>
      </h6>
      <h6>
        Название организации:
        <span class="text-info"> {{ item.dealer.llc_name }} </span>
      </h6>
      <h6>
        Юр. адрес организации:
        <span class="text-info"> {{ item.dealer.organizationa_address }} </span>
      </h6>

      <a target="_blank" :href="`/#/shops?item_dealer=${item.dealer.id}`"
        >Смотреть детали</a
      >
    </div>
    <hr />
    <fields-list :item="item" :fields="fields" />
    <div class="save-panel">
      <button class="btn btn-sm btn-warning btn-icon" @click="updateItem">
        <span class="ti-save"></span>Сохранить
      </button>
    </div>
  </div>
</template>

<script>
import { cardUpdate, cardContent } from "@/plugins/functions";

export default {
  data: () => ({
    cardLink: "shops",
    cardSetLink: "shops",
    item: null,
    fields: [
      {
        col: " col-12 col-md-12",
        key: "name",
        label: "Название",
        type: "field",
        textType: "text",
      },
      {
        col: " col-12 col-md-12",
        key: "dealer",
        label: "Владелец ",
        type: "select",
        modal: "dealer",
        selectKey: "llc_name",
      },
      {
        col: " col-12 col-md-12",
        key: "new_images",
        resultKey: "media",
        label: "Фотографии торговой точки",
        type: "imgs",
        link: "media",
        image_key: "path_small",
      },
      {
        col: " col-12 col-md-12",
        key: "location_id",
        label: "Адрес",
        type: "location",
      },
      {
        col: " col-12 col-md-12",
        key: "address",
        label: "Адрес",
        type: "field",
        textType: "text",
        isMultiLang: true,
      },
      {
        col: " col-12 col-md-12",
        key: "description",
        label: "Ориентир",
        type: "textarea",
        isMultiLang: true,
      },
      {
        col: " col-12 col-md-6",
        key: "lat",
        label: "Широта",
        type: "field",
        textType: "number",
      },
      {
        col: " col-12 col-md-6",
        key: "lon",
        label: "Долгота",
        type: "field",
        textType: "number",
      },
    ],
  }),

  props: ["id"],
  async created() {
    this.item = await this.cardContent(this.cardLink, this.id);
  },
  methods: {
    cardUpdate: cardUpdate,
    cardContent: cardContent,

    async updateItem() {
      let item = await this.cardUpdate(
        this.cardSetLink,
        this.item,
        this.fields
      );
      if (item && item.id) {
        this.item["media"] = [];
        setTimeout(() => {
          this.item["media"] = item["media"];
        }, 100);
      }
    },
  },
};
</script>
<style>
</style>
