@mixin sidebar-background-color($background-color, $font-color) {

  &:after,
  &:before {
    background-color: $background-color;
  }

  .logo {
    background-color: $black-background-color;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 9px 25px 9px;

    border-bottom: 1px solid rgba($color: $white-background-color, $alpha: .1);

    margin: 0;

    p {
      color: $font-color;
    }

    .simple-text {
      color: $font-color;
    }

  }

  .nav {
    .nav-item:not(.active) {
      >.nav-link {
        color: $font-color;
      }
    }

    .divider {
      background-color: rgba($font-color, .2);
    }

  }

}

@mixin sidebar-active-color($font-color) {
  .nav {
    .nav-item {
      &.active>.nav-link {
        color: $font-color;
        opacity: 1;
      }
    }
  }
}