@import "paper/variables";
@import "paper/mixins";
@import "paper/set_language";
@import "paper/filters";
@import "paper/typography";
@import "paper/misc";
@import "paper/sidebar-and-main-panel";
@import "paper/buttons";
@import "paper/business";
@import "paper/inputs";
@import "paper/pagination";
@import "paper/alerts";
@import "paper/selected";
@import "paper/iframe";
@import "paper/card_info";
@import "paper/content";
@import "paper/ql";
@import "paper/tables";
@import "paper/modal";
@import "paper/checkbox-radio";
@import "paper/navbars";
@import "paper/footers";
@import "paper/dropdown";
@import "paper/cards";
@import "paper/field_list";
@import "paper/teacher";
@import "paper/chartist";
@import "paper/install";
@import "paper/responsive";
@import "paper/tabs";
@import "paper/list";

body {
   @media (max-width: 270px) {
      display: none;
   }
}

.border {
   overflow: hidden;
   border: 1px solid #ebebeb;
   padding: 20px 20px 20px;
   border-radius: 12px;
   margin-bottom: 20px;
}


.no-gutters {
   margin-right: -8px;
   margin-left: -8px;

   >.col,
   >[class*="col-"] {
      padding-right: 8px;
      padding-left: 8px;
   }
}

.opacity {
   opacity: .6;
   pointer-events: none;
}


::-webkit-scrollbar {
   width: 0.1em;
}

::-webkit-scrollbar-thumb {
   background-color: $black-color;
}

::-webkit-scrollbar-thumb:hover {
   background-color: $black-color;
}